In [1]:
import pandas as pd

In [3]:
uspory = pd.read_csv("05_uspory_evzen_cecilka_2024_2030.csv")
uspory

    Rok  mzda_cecilka  rocni_uspora_cecilka  mzda_evzen  rocni_uspora_evzen
0  2024         34980                165087       41020              193593
1  2025         36983                174540       43644              205977
2  2026         38986                183993       46268              218361
3  2027         40989                193447       48892              230745
4  2028         42992                202900       51516              243128
5  2029         44995                212353       54140              255512
6  2030         46998                221806       56764              267896

In [11]:
celkem_uspory = uspory["rocni_uspora_cecilka"].sum() + uspory["rocni_uspora_evzen"].sum()
print(f"Celkem budou mít v roce 2030 naspořeno: {celkem_uspory} Kč.")

Celkem budou mít v roce 2030 naspořeno: 2969338 Kč.

No jenze kolik bude v roce 2030 stat ta hyposka na byt-uvazovat 10% zaklad? a co materska a dite?
Evzenovi je uz ted 32, takze pak uz hitne tu hranici 36 let- vetsi nutny zaklad