In [1]:
import pandas as pd
import seaborn as sns
from scipy import stats
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.tools as tools
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("prumerna_sazba.csv")
data.tail(50)

,Datum,Realizovaná úroková sazba nových hypoték bez refinancování - Hypomonitor ČBA (%),Oficiální data ČNB: čisté nové hypotéky včetně navýšení (%),Oficiální data ČNB: hypoteční celkem (nové,refinancované,ostatní; %)
206,3/2021,1.96,1.95,1.98,NaN,NaN
207,4/2021,2.00,1.99,2.01,NaN,NaN
208,5/2021,2.07,2.05,2.06,NaN,NaN
209,6/2021,2.13,2.13,2.12,NaN,NaN
210,7/2021,2.22,2.22,2.20,NaN,NaN
211,8/2021,2.32,2.31,2.27,NaN,NaN
212,9/2021,2.43,2.42,2.37,NaN,NaN
213,10/2021,2.54,2.54,2.48,NaN,NaN
214,11/2021,2.70,2.71,2.63,NaN,NaN
215,12/2021,3.00,3.01,2.85,NaN,NaN
216,1/2022,3.39,3.40,3.16,NaN,NaN
217,2/2022,3.84,3.85,3.46,NaN,NaN
218,3/2022,4.15,4.19,3.73,NaN,NaN
219,4/2022,4.39,4.42,3.86,NaN,NaN
220,5/2022,4.64,4.67,4.04,NaN,NaN
221,6/2022,5.01,5.05,4.26,NaN,NaN
222,7/2022,5.42,5.49,4.53,NaN,NaN
223,8/2022,5.76,5.85,4.55,NaN,NaN
224,9/2022,5.83,5.91,4.64,NaN,NaN
225,10/2022,5.86,5.97,4.63,NaN,NaN
226,11/2022,5.96,6.07,4.61,NaN,NaN
227,12/2022,5.98,6.08,4.68,NaN,NaN
228,1/2023,5.93,6.03,4.86,NaN,NaN
229,2/2023,5.90,5.98,5.02,NaN,NaN
230,3/2023,5.86,5.94,5.15,NaN,NaN
231,4/2023,5.89,5.98,5.27,NaN,NaN
232,5/2023,5.90,5.99,5.28,NaN,NaN
233,6/2023,5.86,5.96,5.35,NaN,NaN
234,7/2023,5.80,5.90,5.35,NaN,NaN
235,8/2023,5.78,5.87,5.36,NaN,NaN
236,9/2023,5.74,5.83,5.37,NaN,NaN
237,10/2023,5.71,5.79,5.31,NaN,NaN
238,11/2023,5.67,5.76,5.31,NaN,NaN
239,12/2023,5.65,5.73,5.31,NaN,NaN
240,1/2024,5.54,5.62,5.12,NaN,NaN
241,2/2024,5.36,5.46,5.08,NaN,NaN
242,3/2024,5.19,5.29,5.05,NaN,NaN
243,4/2024,5.09,5.18,4.93,NaN,NaN
244,5/2024,5.06,5.15,4.90,NaN,NaN
245,6/2024,5.05,5.14,4.92,NaN,NaN
246,7/2024,5.07,5.17,4.95,NaN,NaN
247,8/2024,4.98,5.07,4.93,NaN,NaN
248,9/2024,4.96,5.05,4.86,NaN,NaN
249,10/2024,4.90,4.98,4.77,NaN,NaN
250,11/2024,4.85,4.93,4.69,NaN,NaN
251,12/2024,4.80,4.88,4.63,NaN,NaN
252,1/2025,4.78,4.85,4.71,NaN,NaN
253,2/2025,4.72,4.80,4.68,NaN,NaN
254,3/2025,4.68,4.75,4.68,NaN,NaN
255,4/2025,4.65,NaN,NaN,NaN,NaN

In [6]:
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 6 columns):
 #   Column                                                                            Non-Null Count  Dtype
---  ------                                                                            --------------  -----
 0   Datum                                                                             256 non-null    object
 1   Realizovaná úroková sazba nových hypoték bez refinancování - Hypomonitor ČBA (%)  64 non-null     float64
 2   Oficiální data ČNB: čisté nové hypotéky včetně navýšení (%)                       135 non-null    float64
 3   Oficiální data ČNB: hypoteční celkem (nové                                        255 non-null    float64
 4    refinancované                                                                    0 non-null      float64
 5    ostatní; %)                                                                      0 non-null      float64
dtypes: float64(5), object(1)
memory usage: 12.1+ KB

,Realizovaná úroková sazba nových hypoték bez refinancování - Hypomonitor ČBA (%),Oficiální data ČNB: čisté nové hypotéky včetně navýšení (%),Oficiální data ČNB: hypoteční celkem (nové,refinancované,ostatní; %)
count,64.000000,135.000000,255.000000,0.0,0.0
mean,4.113437,3.196593,3.761686,NaN,NaN
std,1.556976,1.442173,1.239294,NaN,NaN
min,1.950000,1.800000,1.910000,NaN,NaN
25%,2.350000,2.105000,2.445000,NaN,NaN
50%,4.750000,2.490000,3.860000,NaN,NaN
75%,5.655000,4.710000,4.865000,NaN,NaN
max,5.980000,6.080000,5.770000,NaN,NaN