upravene mzdy s materskou a rodicakem

    rok  inflace  predikovana_mzda_vcetne_materske
0  2025    |  2.5  |    44914.253391\
1  2026    |  2.0  |    46867.616315\
2  2027    |  2.0  |    28300\
3  2028    |  2.0  |    14150\
4  2029    |  2.0  |    0\
5  2030    |  2.0  |    54880.514836

odectene uspory u cecilky v letech 2027-2029\
v roce 2029 proste uspori 0

In [2]:
import pandas as pd

In [3]:
uspory_materska = pd.read_csv("09_uspory_materska.csv")
uspory_materska

    Rok  mzda_cecilka  rocni_uspora_cecilka  mzda_evzen  rocni_uspora_evzen
0  2024         34980                165087       41020              193593
1  2025         36983                174540       43644              205977
2  2026         38986                183993       46268              218361
3  2027         28300                     0       48892              271924
4  2028         14150                     0       51516               99924
5  2029             0                     0       54140              -72075
6  2030         46998                221806       56764              267896

In [4]:
celkem_uspory_materska = uspory_materska["rocni_uspora_cecilka"].sum() + uspory_materska["rocni_uspora_evzen"].sum()
print(f"Celkem budou mít v roce 2030 při zohlednění mateřské naspořeno: {celkem_uspory_materska} Kč.")

Celkem budou mít v roce 2030 při zohlednění mateřské naspořeno: 1931026 Kč.